* {
  font-family: "Comfortaa", sans-serif;
}
.bg {
  background-image: url("https://images.wallpaperscraft.com/image/lake_mountains_trees_129959_2560x1024.jpg");
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
p {
  margin-left: 7px;
  padding-top: 10px;
  font-size: 16px;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.315);
}
.search {
  position: relative;
  left: -125px;
}
.searchTerm {
  background-color: rgba(255, 255, 255, 0.849);

  border: none;
  height: 30px;
  width: 250%;
  border-radius: 20px;
  outline: none;
  text-align: center;
}
.app {
  margin-top: 50px;
  position: absolute;
}
.searchButton {
  position: absolute;
  color: #fd0000;
  cursor: pointer;
  top: -7px;
  font-size: 17px;
}
.wrap {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}
